[Unit]
Description=TouchRMB
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/local/bin/run-touchrmb-in-lxqt-session.sh /usr/local/bin/touchrmb
Restart=always
RestartSec=0.2

[Install]
WantedBy=default.target
